unity/unity-build-system/Library
unity/unity-build-system/Temp
unity/unity-build-system/Assembly-CSharp-Editor-vs.csproj
unity/unity-build-system/Assembly-CSharp-Editor.csproj
unity/unity-build-system/Assembly-CSharp-vs.csproj
unity/unity-build-system/Assembly-CSharp.csproj
unity/unity-build-system/unity-build-system-csharp.sln
unity/unity-build-system/unity-build-system.sln
unity/unity-build-system/unity-build-system.userprefs
